.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100vh;
}

.avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 448px;
    height: 448px;
    background-color: transparent;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 400px;
    height: 400px;
}

.colored {
    background-color: transparent;
}

.options {
    display: flex;
    flex-direction: column;    
}

label {
    width: 200px;
}

@media (max-width: 796px) {
    .container {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .avatar {
        width: 100%;
        height: 100vw;
    }

    .matrix {
        width: 90%;
        height: 90vw;
    }
}